<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Archive</title>
</head>
<body>

    <form action="/blog/create/" method="post">
        {% csrf_token %}
        Title:
        <input type="text" name="title"><br>
        Body:
        <textarea name="body" id="" cols="60" rows="3" name="body"></textarea>
        <input type="submit">
    </form>
    <hr>

    {% for post in posts%}
        <h2>{{ post.title|title }}</h2>
        <p>{{ post.body }}</p>
        <p>{{ post.timestamp }}</p>
    {% endfor %}
</body>
</html>